.form {
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 30px;
	left: 40px;
	font-family: sans-serif;
	width: 439px;
	height: 297px;
}
#form1{
	position: absolute;
	top: 165px;
	left: 27px;
	width: 450px;
}
#questions{
}

.gname{
	float: left;
}

.input{float:right;}

.label{
	float:left;
	padding-right:10px;
	}
	
.space{
	margin-top:30px;
	margin-bottom: 30px;
	height: 40px;
}

#continueButton{
	font-size: 20px;
	padding-top:10px;
	padding-bottom:10px;
	color:green;
}

#nextButton{
	font-size: 20px;
	padding-top:10px;
	padding-bottom:10px;
	color: green;

}

#skipButton{
	font-size: 20px;
	padding-top:10px;
	padding-bottom:10px;
	color: gray;
}
