#resultType{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#buy,#make,#experience{
	margin-top: 20px;
	width: 400px;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	border-right: 3px;
	border-left: 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-style: solid;

}


#experience{
	border-right:0px;
}

#buythumbs img{display: inline-block;}
#buygallerycontainer{
    width: inherit;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 0 0;
    position: relative;

}
 
#buygallery, #buythumbs{
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
 
#buygallery{
    width: inherit;
    height: 300px;
    position: relative;
    
}
 
#buygallery img{
    position: relative;
    margin-right: auto;
    margin-left: auto;

}
 
#buythumbs{
    display: inline-block;
    width: inherit;
    height: 50px;
    overflow: hidden;
    position: relative;
}
#buythumbs>img:hover{

  opacity: .2;
  background-color: #B29B9C;

}