ul
{
float:;
width:100%;
padding:0;
margin:0;
list-style-type:none;
}

.option
{
	font-size: 14px;
	color: #565157;
	width: 100px;
	height: 20px;
	text-align: center;
	padding: 0.2em 0.6em;
	font-family: pt-sans;
	font-style: normal;
	font-weight: 400;
}

.menu_bar
{
	margin-top:50px;
}
a:hover {
	background-color: F56141;
	text-decoration: none;
	Color:white;
}

li {display:inline;
	font-family: 'PT Sans', sans-serif;
}


#logo{
width:25%;
margin-left:50px;
padding-bottom:0px;
margin-top:10px;

}

#banner{
width:95%;
}

body{background-color:F2EEE7;}